

.mat-toolbar.mat-primary {
  background: #ad0d0d;
  color: #fff;
  height: 90px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.logo {
  width: 100px;
}
