<mat-toolbar color="primary">
  <span>
    <a routerLink="/"><img class="logo" width="40" alt="Angular Logo" src="assets\images\logo.png" /></a>
  </span>
  <span class="example-spacer"></span>
  <div class="example-button-row">
    <a mat-raised-button routerLink="/">Home</a>
    <a mat-raised-button routerLink="/movies">Movies</a>
    <a mat-raised-button routerLink="/tvseries">Tv Series</a>
    <a mat-raised-button routerLink="/search">Search</a>
    <a mat-raised-button routerLink="/genres">Genre</a>
  </div>
</mat-toolbar>
