<app-slider [items]="popularMovies"></app-slider>
<div class="background"
    style="background-image: url('https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/bcT8CaBIj086WVD7K529h78eujb.jpg');">
    <items-banner [items]="upcomingMovies" title="Upcoming Movies"></items-banner>
</div>

<div class="background"
style="background-image: url('https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/bcT8CaBIj086WVD7K529h78eujb.jpg');">
<items-banner [items]="topratedMovies" title="Top rated Movies"></items-banner></div>
<items-banner></items-banner>